/* top navbar code */
ul {
  list-style-type: none;
  margin: 10;
  padding: 20;
  overflow: hidden;
  background-color: inherit;
  position: -webkit-sticky; /* Safari */
  top: 0;
  position: sticky;
}
li {
  float: left;
}
li a1 {
  display: block;
  color: #F48FB1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 34px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.main {
  margin-top: 120px;
  margin-left: 220px;
  margin-right: 100px;
}
.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.topnav a {
  float: left;
  color: #F48FB1;
  text-align: center;
  padding: 20;
  text-decoration: none;
}
.topnav a:hover {
  color: black;
}
/* side navigation bar code */
.btn-group .button {
 background-color: #F48FB1;
 border: 1px solid black;
 color: white;
 padding: 15px 32px;
 text-align: center;
 text-decoration: none;
 font-size: 16px;
 cursor: pointer;
 font-family: 'Montserrat', sans-serif;
 width: 150px;
 display: block;
}
.btn-group .button:not(:last-child) {
 border-bottom: none; /* Prevent double borders */
}
.btn-group .button:hover {
 background-color:black;
}
.btn-group a {
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
}
.btn-group {
  grid-column: 1;
  grid-row: 0;
  position: fixed; /* Fixed Sidebar (stay in place on scroll) */
}
/* text code */
h1 {
  text-align: center;
}
pre {
  font-family: 'Cormorant', serif;
}
p {
  font-family: 'Cormorant', serif;
  font-weight: bold;
}
