body {
  background-image: url("https://img.wallpapersafari.com/desktop/1536/864/18/52/NhomsL.jpg");
}

/* top navbar code */
ul {
  list-style-type: none;
  margin: 10;
  padding: 20;
  overflow: hidden;
  background-color: inherit;
  position: -webkit-sticky; /* Safari */
  top: 0;
  position: sticky;
}
li {
  float: left;
}
li a1 {
  display: block;
  color: #F48FB1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 34px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
}
.main {
  margin-top: 120px;
  margin-left: 120px;
  margin-right: 100px;
}
.topnav {
  overflow: hidden;
  background-color: #FFFFFF;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.topnav a {
  float: left;
  color: #F48FB1;
  text-align: center;
  padding: 20;
  text-decoration: none;
}
.topnav a:hover {
  color: black;
}
/* scroll indicator code */
.header {
  position: fixed;
  top: 0;
  z-index: 1;
  width: 100%;
  background-color: #f1f1f1;
}
.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
}
.progress-bar {
  height: 8px;
  background: #F48FB1;
  width: 0%;
}
/*blockquote code*/
.pquote {
  float: right;
  width: 200px;
  /* background: url("images/openquote.gif") no-repeat; */
  color: #030;
  font-size: 26px;
  line-height: 0.9;
  font-style: italic;
  padding: 14px;
}
.pquote {
  margin-left: 0;
  margin-right: 80px;
}
.pquote p:first-letter {
  font-size: 50px;
  font-weight: bold;
}
/*blockquote code*/
.mb-wrap {
  margin : 40px auto;
  padding : 20px;
  position : relative;
  width : 300px;
}
.mb-wrap p {
  margin : 0;
  padding : 0;
}
.mb-wrap blockquote {
  margin : 0;
  padding : 0;
  position : relative;
}
.mb-style-2 blockquote {
  padding-top : 150px;
}
.mb-style-2 blockquote:after {
    background: none repeat scroll 0 0 #F48FB1;
    border-radius: 50% 50% 50% 50%;
    color: rgba(255, 255, 255, 0.5);
    content: "❞";
    font-family: 'icons';
    font-size: 70px;
    height: 130px;
    left: 50%;
    line-height: 130px;
    margin-left: -65px;
    position: absolute;
    text-align: center;
    /* text-shadow: 0 1px 1px rgba(255, 255, 255, 0.1); */
    top: 0;
    width: 130px;
}
.mb-style-2 blockquote:before {
    border-left: 5px solid #F48FB1;
    border-radius: 50% 50% 50% 50%;
    content: "";
    height: 500px;
    left: -66px;
    position: absolute;
    top: 0;
    width: 500px;
    z-index: -1;
}
.mb-style-2 blockquote p {
  /* background : none repeat scroll 0 0 rgba(235, 235, 235, 0.5); */
  box-shadow : 0 -6px 0 #F48FB1;
  color : black;
  display : inline;
  font-family : Baskerville, Georgia, serif;
  font-style : italic;
  font-size : 28px;
  line-height : 46px;
  /* text-shadow : 0 1px 1px rgba(255, 255, 255, 0.5); */
}
.mb-attribution {
  text-align : right;
}
/* blockquote code 2 */
@import "compass/css3";

.testimonial-quote {
    font-size: 16px;
}
.testimonial-quote blockquote {
    /* Negate theme styles */
    border: 0;
    border-color: #000000'
    margin-left: 100;
    padding: 0;
    background: none;
    color: #000000;
    font-family: Georgia, serif;
    font-size: 1.5em;
    font-style: italic;
    line-height: 1.4 !important;
    margin: 0;
    position: relative;
    text-shadow: 0 1px #B2EBF2;
    z-index: 600;
}
.testimonial-quote blockquote * {
    box-sizing: border-box;
}
.testimonial-quote blockquote p {
    margin-left: 60px;
    color: #000000;
    line-height: 1.4 !important;
}
.testimonial-quote blockquote p:first-child:before {
    content: '\201C';
    color: #F48FB1;
    font-size: 7.5em;
    font-weight: 700;
    opacity: .3;
    position: absolute;
    top: -.4em;
    left: -.2em;
    text-shadow: none;
    z-index: -300;
}
.testimonial-quote {
    position: relative;
}
.testimonial-quote .quote-container {
    padding-left: 160px;
}
.testimonial-quote.right .quote-container {
    padding-left: 0;
    padding-right: 160px;
}
/* blockquote code 3 */
*, *:before, *:after{
    margin: 0;
    padding: 0;
    direction: ltr;
    box-sizing: border-box;
}
html{
  font-size: 16px;
  line-height: 1.8;
}
.ArticleCopy{
  font-family: "Helvetica Neue","Helvetica",Helvetica,Arial,sans-serif;
  width: 100%;
  margin: 0px;
  padding: 3rem;
}
.ArticleCopy pre {
    text-rendering: optimizeLegibility;
    margin-right: 2000px;
}
.ArticleCopy blockquote {
    border-radius: 3px;
    position: relative;
    font-style: italic;
    text-align: center;
    padding: 1rem;
    width: 80%;  /* create space for the quotes */
    color: #4a4a4a;
    margin: 1rem;
    color: #4a4a4a;
    background: inherit;
    margin-right: 2000px
}
/* -- create the quotation marks -- */
.ArticleCopy blockquote:before,
.ArticleCopy blockquote:after{
    font-family: FontAwesome;
    position: absolute;
    /* -- inside the relative position of blockquote -- */
    top: 13px;
    color: #000000;
    font-size: 34px;
}
.ArticleCopy blockquote:before{
    content: "\f10d";
    margin-right: 13px;
    right: 95%;
}
.ArticleCopy blockquote:after{
    content: "\f10e";
    margin-left: 10px;
    left: 118%;
}
/* text code */
h1 {
  text-align: center;
}
pre {
  font-family: 'Cormorant', serif;
  font-size: 24px;
}
p {
  font-family: 'Cormorant', serif;
  font-weight: bold;
  font-size: 28px;
}
p1 {
  font-family: 'Cormorant', serif;
  font-weight: bold;
}
p2 {
  font-family: 'Cormorant', serif;
  font-size: 24px;
}
