
li a1 {
  display: block;
  color: #F48FB1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}

h1 {
  color:#F48FB1;
}
p {
  color:#F48FB1
}
.main {
  margin-top: 120px;
}
.topnav {
  overflow: hidden;
  background-color: inherit;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.topnav a {
  float: left;
  color: #F48FB1;
  text-align: center;
  padding: 20;
  text-decoration: none;
}
.topnav a:hover {
  color: black;
}

body {
  background-image: url("https://upload.wikimedia.org/wikipedia/commons/0/0f/2010-02-19_3000x2000_chicago_skyline.jpg");
  background-size: cover;
   /* background-color: blue; */
}
h1 {
  text-align: center;
  color: 	#000000;
  font-family: 'Montserrat', sans-serif;
}
p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  color: 	#000000;
  /* margin-right: 4px; */
}














.menu {
  list-style-type: none;
  margin: 10;
  padding: 20;
  overflow: hidden;
  background-color: inherit;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
    display: block;
}

  .menu li {
 float: left;
 display: inline-block;
 position: relative;
 z-index: 100;
}

/* .menu li:first-child {
    margin-left: 0;
} */

.menu li a {
    font-weight: 600;
    display: block;
    transition: all 0.2s ease-in-out 0s;
    color: #F48FB1;
    text-align: center;
    padding: 14px 34px;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
} */

.menu ul {
    visibility: hidden;
    opacity: 0;
    margin: 0;
    padding: 0;
    width: 170px;
    position: absolute;
    left: 0px;
    background: #fff;
    z-index: 99;
    transform: translate(0,20px);
    transition: all 0.2s ease-out;
}

.menu ul:after {
    bottom: 100%;
    left: 20%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none;
    border-color: rgba(255, 255, 255, 0);
    border-bottom-color: #fff;
    border-width: 6px;
    margin-left: -6px;
}

.menu ul li {
    display: block;
    float: none;
    background: none;
    margin: 0;
    padding: 0;
}

.menu ul li a {
    font-size: 12px;
    font-weight: normal;
    display: block;
    color:#F48FB1;
    background: white;
}

.menu ul li a:hover,.menu ul li:hover>a {
    background: #F48FB1;
    color: white;
}

.menu li:hover>ul {
    visibility: visible;
    opacity: 1;
    transform: translate(0,0);
}
