ul {
  list-style-type: none;
  margin: 10;
  padding: 20;
  overflow: hidden;
  background-color: inherit;
  position: -webkit-sticky; /* Safari */
  position: sticky;
  top: 0;
}
li {
  float: left;
}
li a1 {
  display: block;
  color: #F48FB1;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;
  font-size: 120%;
}
li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 34px;
  text-decoration: none;
  font-family: 'Montserrat', sans-serif;

}
.main {
  margin-top: 60px;
}
.topnav {
  overflow: hidden;
  background-color: inherit;
  position: fixed; /* Set the navbar to fixed position */
  top: 0; /* Position the navbar at the top of the page */
  width: 100%;
}
.topnav a {
  float: left;
  color: #F48FB1;
  text-align: center;
  padding: 20;
  text-decoration: none;
}
.topnav a:hover {
  color: black;
}


body {
  background-image: url("https://i.pinimg.com/originals/da/29/cb/da29cbc5eaae6568be5891b407668d9a.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
h1 {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
}
p {
  text-align: center;
  font-family: 'Montserrat', sans-serif;
  margin-left: 100px;
  margin-right: 100px;
}
