body {
  font-family: 'Cormorant', serif;
  font-size: 30px;
  background-image: url("https://www.sclance.com/wallpapers/chicago-hd-wallpaper/chicago-hd-wallpaper_381103.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
 }
 *{
  margin: 0;
  padding: 0;
  direction: ltr;
  box-sizing: border-box;
 }
   .navbar {
     overflow:hidden;
     background-color: #F48FB1;
     top: 0;
     z-index: 10 !important;
   }

   .navbar a {
     float: right;
     font-size: 20px;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
   }
   .navbar a1 {
     float: left;
     font-size: 35px;
     color: white;
     text-align: center;
     padding: 14px 16px;
     text-decoration: none;
     font-family: 'Montserrat', sans-serif;
   }


   .dropdown {
     float: right;
     overflow: hidden;
     opacity:0.9;
   }

   .dropdown .dropbtn {
     font-size: 20px;
     border: none;
     outline: none;
     color: white;
     padding: 14px 16px;
     background-color: inherit;
     font-family: inherit;
     margin: 0;
     font-family: 'Montserrat', sans-serif;
   }

   .navbar a:hover, .dropdown:hover .dropbtn {
     background-color: white;
     color:#F48FB1;
     font-family: 'Montserrat', sans-serif;
   }

   .dropdown-content {
     display: none;
     position: absolute;
     background-color: white;
     min-width: 160px;
     box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
     z-index: 10;
   }

   .dropdown-content a {
     float: none;
     color: #F48FB1;
     padding: 12px 16px;
     text-decoration: none;
     display: block;
     text-align: left;
     font-family: 'Montserrat', sans-serif;
     z-index: 10;
   }

   .dropdown-content a:hover {
     background-color: #ddd;
   }

   .dropdown:hover .dropdown-content {
     display: block;
     z-index: 10;
   }
  .slideshow-container {
  position: inherit;
  background: #f1f1f1f1;
 }
 .mySlides {
  display: none;
  padding: 80px;
  text-align: center;
 }
 .prev, .next {
  cursor: pointer;
  position: absolute;
  top: 75%;
  width: auto;
  margin-top: -30px;
  padding: 16px;
  background-color: #ddd;
  color:#F48FB1;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
 }
 .next {
  position: absolute;
  right: 0;
  border-radius: 3px 0 0 3px;
 }
 .prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
  color: white;
 }
 .dot-container {
  text-align: center;
  padding: 20px;
  background: #F48FB1;
  opacity:0.95;
 }
 .dot {
  cursor: pointer;
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
 }
 .active, .dot:hover {
  background-color: black;
 }
 q {
  font-style: italic;}
 .author {
  color: #F48FB1;
 }

.main-container {
  position:inherit;
  background:#f1f1f1f1;
  text-align: center;
  }
.main-container1 {
  position:inherit;
  background-image: url("https://i.redd.it/8a945r0snzh21.jpg");
  background-size: cover;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  }
h1 {
  font-size:40px;
}
